.outer
{
    margin-left: 0%;
    display: flex;
    justify-content: space-between;
    /* @media screen and (max-width: 912px) and (min-width:430px) {
        
            width: 100%;
            margin: 0;
            flex-wrap: wrap;
            flex-direction: column;
          
       text-align: center;
            border-radius: 0;
            align-items: center;
            justify-content: space-between;
        } */
 
}


.category1
{
 
    background-color:#006ebd;
    width: 448px;
   min-height: 158px;
   color: white;
   border-radius: 4px;
   text-align: left;
   margin-left: 1%;
   padding-left: 3%;
  
}

.category2
{
 
    background-color:#006ebd;
    width: 448px;
   min-height: 158px;
   color: white;
   border-radius: 4px;
   padding: 3%;
}
.category3
{
 
    background-color:#006ebd;
    width: 448px;
   min-height: 158px;
   color: white;
   border-radius: 4px;
   padding-left: 3%;
}
.cataCardOuter
{
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
    gap: 2%;
}

  
@media screen and (max-width: 428px) {
    .outer {
        display: flex;
        /* width:228px; */
         /* margin: 0; */
        flex-wrap: wrap;
        border-radius: 0;
        text-align: center;
        justify-content: space-evenly;
        flex-direction: column;
    }
    .cataCardOuter{
        width: 400px;
    }
    .category1{
        width: 355px;
        height: 165px;
    }
    .category2{
        display: none;
    }
    .category3{
        display: none;
    }
} 