.firstLink
{
   background-color: #6A6DD4;
    /* margin: 71px; */
    height: 223px;
    width:448px;
    color: white;
    padding-left: 10px;
}
.firstImg{
    position: absolute;
    padding-left: 221px;
    height:223px;
    width: 227px;
}
.textDiv1
{
   height: 0px;
    width: 100px;
}
.button1{
    color: #6A6DD4;
    background-color: #d788af;
    border-radius: 4px;

   
}
.outerLink{
    display: flex;
    justify-content: space-between;
    gap: 2%;
    /* @media screen and (max-width: 912px) and (min-width:430px) {
      
            width: 100%;
            margin: 0;
            flex-wrap: wrap;
            flex-direction: column;
            border-radius: 0;
            align-items: center;
            justify-content: space-evenly;
            display: inline-block;
            font-size: 20px;
           
            gap: 2px;
        } */
}


.secondLink
{
   background-color: #FC0D86;
/* margin: 71px; */
    height: 223px;
    width:448px;
    color: white;
    padding-left: 1%;
}
.textDiv2
{
   height: 0px;
    width: 100px;
}
.secondImg{
    position: absolute;
    padding-left: 221px;
    height:223px;
    width: 227px;
}
.button2{
    color: magenta;
    border-radius: 5px;
background: #FFF;
   
}


.thirdLink
{
   background-color: #FC0D86;
/* margin: 71px; */
    height: 223px;
    width:448px;
    color: white;
    padding-left: 10px;
}
.textDiv3
{
   height: 0px;
    width: 100px;
}
.thirdImg{
    position: absolute;
    padding-left: 221px;
    height:223px;
    width: 227px;
}
.button3{
    background-color: #FFEB33;
    border-radius: 4px;
}
  


@media screen and (max-width: 428px) {
    .outerLink {
        display: flex;
        margin-top: 23%;
        flex-wrap: wrap;
        border-radius: 0;
        justify-content: space-evenly;
        flex-direction: column;
    }
    .firstLink {
        margin: 3%;
        width: 266px;
        height: 132px;
    }
    .firstImg {
        width: 135px;
        height: 132px;
    }
    .secondImg {
        width: 135px;
        height: 132px;
    }
    .secondLink {
        margin: 3%;
        width: 266px;
        height: 132px;
    }
    .thirdImg{
        width: 135px;
        height: 132px;
    }
    .thirdLink{
        margin: 3%;
        width: 266px;
        height: 132px;
    }
}
