.modal-overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.modalContent {
  background: #f6f5f4;
  padding: 10px;
  border-radius: 5px;
  width: 200px;
  height: auto;
  padding-top: 25%;
}
@media (max-width:430px){
  .modal-overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

  .modalContent {
    background-color: #f6f5f4;
    padding-left: 40px;
    border-radius: 5px;
    width: 200px;
    height: auto;
    padding-top: 25%;
    justify-content: center;
    align-items: center;
  }
  
}