.searchBody{
    margin-top: 5%;
}

.SearchBar {
    width: 780px;
    height: 59px;
    background: var(--txt-and-bg-box-site-bg-color);
    display: flex;
    margin-top: 10px;
    margin-left: 32px;
    align-items: center;
    border-radius: 5px;
    border: 1px solid black;
}

.SearchBar input {
    width: 708px;
    height: 30px;
    background: var(--txt-and-bg-box-site-bg-color);
    outline: none;
    margin-left: 55px;
    color: var(--secondary-text-and-icons-color);
    border: none;
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
    font-family: Helvetica, sans-serif;
    font-style: normal;
    margin-left: 12px;
}
.buttonOuter{
  display: flex;
  /* justify-content: space-between 1px; */
  margin-top: 35px;
  margin-left: 10px;
}




.SearchBar button:focus {
    outline: none;
    border: none;
}
.button1{
    border-radius: 50px;
background: #006EBD;
color: #FFF;

padding: 0px 10px;
justify-content: center;
align-items: center;
gap: 5px;
text-align: center;
font-family: Helvetica;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 223%; 
margin-left: 10px;


}
.SearchIcon {
    margin-left: 14px;
    margin: 1px solid black;
}
.button2{
   
    color:#006EBD;
    text-align: center;
    font-family: Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 223%; 
    border-radius: 50px;
    border: 1px solid  #006EBD;
    margin-left: 10px;
  
padding: 0px 10px;
justify-content: center;
align-items: center;
gap: 5px;

}
.button3{
    color:#006EBD;
    text-align: center;
    font-family: Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 223%;
    border-radius: 50px; 
    border: 1px solid  #006EBD;
    margin-left: 10px;

    padding: 0px 10px;
    justify-content: center;
    align-items: center;
    gap: 5px;



}
.button4{
    color:#006EBD;
    text-align: center;
    font-family: Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 223%;
    border-radius: 50px; 
    border: 1px solid  #006EBD;

    margin-left: 10px;




    
padding: 0px 10px;
justify-content: center;
align-items: center;
gap: 5px;
}
.button5{
    color:#006EBD;
    text-align: center;
    font-family: Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 223%;
    border-radius: 50px; 
    border: 1px solid  #006EBD;

    margin-left: 10px;
  
padding: 0px 10px;
justify-content: center;
align-items: center;
gap: 5px;
}
.button6{
    color:#006EBD;
    text-align: center;
    font-family: Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 223%;
    border-radius: 50px; 
    border: 1px solid  #006EBD; 
    margin-left: 10px;

   
padding: 0px 10px;
justify-content: center;
align-items: center;
gap: 5px;

}