:root {
    --brand-primary-color1: #f9af2c;
    --brand-primary-color2: #ffc041;
    --brand-secondary-hyperlink: #007acd;
    --ui-button-color-1: #00569e;
    --ui-button-color-2: #006ebd;
    --ui-button-color-3: #279be9;
    --watchlist-accent-color: #943900;
    --watchlist-card-bg-color: #fffae5;
    --txt-and-bg-box-bg-color: #f6f5f4;
    --txt-and-bg-box-site-bg-color: #ffffff;
    --header-text-color: #44413d;
    --primary-text-and-icons-color: #595959;
    --secondary-text-and-icons-color: #76716d;
    --box-highlight-color: #85807c;
    --success-txt-icon-button-color: #29a754;
    --success-message-box-color: #cbf3dc;
    --marketplace: #d93a3f;
    --jobs: #f3632d;
    --motors: #5f6f88;
    --property: #29a754;
    --services: #555;
}



.NavbarTopDiv {
    height: 82px;
    background-color: var(--txt-and-bg-box-bg-color);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
}

.TopContainerLeft {
    height: 24px;
    width: 945px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: var(--secondary-text-and-icons-color);
}

.TopContainerRight {
    height: 24px;
    width: 157px;
    margin-right: 24px;
    color: var(--secondary-text-and-icons-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.NavbarBottomDiv {
    height: 71px;
    background-color: var(--txt-and-bg-box-site-bg-color);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    color: var(--primary-text-and-icons-color);
    position: sticky;
    top: 0;
    z-index: 100;
}

.BottomContainerRight {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 720px;
    height: 30px;
    align-items: center;
}

.BottomContainerRight p {
    cursor: pointer;
}

.BottomContainerLeft {
    width: 331px;
    height: 41px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 32px;
}

#NavTradeMeLogo {
    height: 40%;
}

#Browse {
    cursor: pointer;
}

#WatchlistIcon {
    margin-bottom: -3px;
}

#MyTradeMeLogo {
    margin-bottom: -2px;
}

#DropdownIcon {
    display: none;
}

@media only screen and (max-width: 428px) {
    .NavbarTopDiv {
        display: none;
    }

    .NavbarBottomDiv p {
        display: none;
    }

    #DropdownIcon {
        display: block;
        margin-right: 30px;
        margin-top: 10px;
    }

    .BottomContainerRight {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }

    #NavTradeMeLogo {
        height: 80%;
    }

    .NavbarBottomDiv {
        height: 71px;
        background-color: var(--txt-and-bg-box-site-bg-color);
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 16px;
        color: var(--primary-text-and-icons-color);
        position: absolute;
        top: 0;
        z-index: 100;
    }
}

@media screen and (max-width: 1011px) {
    .TopContainerLeft {
        height: 24px;
        width: 445px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        color: var(--secondary-text-and-icons-color);
        font-size: 12px;
        margin-left: 10px;
    }

    .TopContainerLeft p,
    .TopContainerRight p {
        margin-left: 10px;

    }

    .TopContainerRight {
        height: 24px;
        width: 157px;
        margin-right: 24px;
        color: var(--secondary-text-and-icons-color);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 10px;
    }

    .BottomContainerRight {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 400px;
        height: 30px;
        align-items: center;
        font-size: 10px;
    }

    .BottomContainerLeft {
        width: 331px;
        height: 41px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin-left: 32px;
        font-size: 10px;
    }

}

@media screen and (max-width: 544px) {
    .NavbarTopDiv {
        display: none;
    }

    .NavbarBottomDiv p {
        display: none;
    }

    #DropdownIcon {
        display: block;
        margin-right: 30px;
        margin-top: 10px;
    }

    .BottomContainerRight {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }
}